DATABASE_URL="postgresql://awesomeuser:secretpw@localhost:5433/aikidev"
JWT_SECRET="this_should_be_a_longer_secret_in_production"
PORT=3000
RATE_LIMIT_MAX=100
RATE_LIMIT_TIME_WINDOW="1 minute"
TRUST_PROXY=false